.landing {
    gap: 20px
}

.landing-buttons {
    display: flex;
    gap: 10px;
}

#get-started,
#sign-up {
    cursor: pointer;
}

#get-started {
    background-color: #4CAF50;
}

#sign-up {
    background-color: #008CBA;
}