.toolbar {
  display: flex;
  gap: 8px;
}
.create-button {
  border-radius: 5px;
  flex: 1;
  height: 56px; // Match mat-form-field height
  min-width: 150px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  flex: 5;
}

.clickable-row {
  cursor: pointer;
}

.mat-mdc-table .mat-mdc-row:hover {
  background-color: var(--mat-sys-primary-container);

}

.mat-column-options, .mat-column-icon {
  text-align: center;
  width: 32px;
}

.mat-column-icon {
  color: var(--mat-sys-on-surface-variant);
}

.invoice-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete {
  color: var(--mat-sys-error);
}

//Chart

.chart-container {
  width: 200px;
}

mat-divider {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .invoice-statistics {
    flex-direction: column;
    align-items: flex-start;
  }

 
}