<div class="account-container">
  <div class="sidebar">
    <mat-list>
      <div mat-subheader>Invoices</div>
      @for (invoice of invoices; track invoice) {
      <mat-list-item>
        <mat-icon matListItemIcon>article</mat-icon>
        <div matListItemTitle>{{ invoice.name }}</div>
        <div matListItemLine>{{ invoice.updated | date }}</div>
      </mat-list-item>
      }
      <mat-divider></mat-divider>
      <div mat-subheader>Create Invoice</div>
      <button mat-button>New Invoice</button>
    </mat-list>
  </div>
  <div class="content">
    <h1>Account Page</h1>
    <p>Details of invoices here</p>
    <p>Manage your account settings and preferences here.</p>
  </div>
</div>
