@use '@angular/material' as mat;

.footer-container {
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
}

p {
   color: var(--mat-sys-on-secondary); 
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-button {
    @include mat.button-overrides((
        text-label-text-color: var(--mat-sys-on-secondary),
    ));
}