@use '@angular/material' as mat;

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 5;
    
    @include mat.elevation(3);

    @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary)
))
}

.navbar-toggle {
    color: var(--mat-sys-on-primary);
}

.navbar-left {
    display: flex;
    gap: 8px;
}

.navbar-right {
    display: flex;
    gap: 8px;
}