<mat-toolbar class="mat-elevation-z3 navbar-container">
    <div class="navbar-left">
      <button mat-button (click)="navigateToPage('')">
        My Application
    </button>  
    </div>
    <div class="navbar-right" *ngIf="!isLoggedIn()">
        <button mat-button (click)="navigateToPage('sign-up')">Sign Up</button>
        <button mat-button (click)="navigateToPage('login')">Login</button>
    </div>
    <div class="navbar-right" *ngIf="isLoggedIn()">
        <button mat-button (click)="navigateToPage('account')">My Account</button>
        <button mat-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>
