<mat-toolbar class="mat-elevation-z3 navbar-container">
    <div class="navbar-left">
      <button mat-button (click)="navigateToPage('')">
        My Application
    </button>  
    </div>
    <div class="navbar-right" *ngIf="!isLoggedIn()">
        <button mat-button (click)="navigateToPage('sign-up')"><mat-icon>person_add</mat-icon><p>Sign Up</p></button>
        <button mat-button (click)="navigateToPage('login')"><mat-icon>login</mat-icon><p>Login</p></button>
    </div>
    <div class="navbar-right" *ngIf="isLoggedIn()">
        <button mat-button (click)="navigateToPage('account')"><mat-icon>account_circle</mat-icon><p>My Account</p></button>
        <button mat-button (click)="logout()"><mat-icon>logout</mat-icon><p>Logout</p></button>
    </div>
</mat-toolbar>
