.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.invoice-grid {
  background-color: var(--mat-sys-surface-variant);
}

.invoice-tile {
  width: 100%;
  padding: 10px;
  height: 100%;
}

p {
  margin: 5px 0;
}

.invoice-total {
  text-align: right;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

button {
  width: 150px;
  border-radius: 5px;
}

#btn-edit {
  background-color: var(--mat-sys-primary);
}

#btn-delete {
  background-color: var(--mat-sys-error);
}

.mat-column-amount,
.mat-column-unitPrice {
  text-align: right;
}

.mat-column-quantity {
  text-align: center;
}

.span-label {
  font-weight: lighter;
}

@media (max-width: 600px) {
  .header, .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
