<div class="header">
  <h1 class="page-title" *ngIf="invoice()">{{ invoice().titleOfInvoice }}</h1>
  <div class="buttons">
    <button mat-button (click)="downloadInvoice()"><mat-icon>download</mat-icon>Download PDF</button>
    <button mat-flat-button id="btn-edit" (click)="navigateToEditInvoice()"><mat-icon>edit</mat-icon>Edit</button>
    <button mat-flat-button id="btn-delete" (click)="deleteInvoice()"><mat-icon>delete</mat-icon>Delete</button>
  </div>
</div>
<mat-divider/>
<mat-grid-list *ngIf="invoice()" cols="2" rowHeight="200px" class="invoice-grid">
      <mat-grid-tile colspan="1" rows="2">
        <div class="invoice-tile">
          <h3>YOUR COMPANY:</h3>
          <p>{{invoice().nameOfYourCompany}}</p>
          <p>{{invoice().yourAddress}}</p>
          <p>{{invoice().yourCity}}</p>
          <p>{{invoice().yourPostCode}}</p>
          <p>{{invoice().yourEmail}}</p>
          <p>{{invoice().phoneNumber}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="columnSpan()" rowspan="1">
        <div class="invoice-tile invoice-total">
          <h3>BILL TO:</h3>
          <p>{{invoice().clientName}}</p>
          <p>{{invoice().clientAddress}}</p>
          <p>{{invoice().clientCity}}</p>
          <p>{{invoice().clientPostCode}}</p>
          <p>{{invoice().clientEmail}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="invoice-tile">
          <h3>INVOICE:</h3>
          <p><span class="span-label">Reference Number: </span>{{invoice().referenceNumber}}</p>
          <p><span class="span-label">Issue Date: </span>{{invoice().issueDate | date}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1.5">
        <div class="invoice-tile">
          <table mat-table [dataSource]="invoice().invoiceItems" style="background-color: inherit;">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef>Unit Price</th>
              <td mat-cell *matCellDef="let element">
                {{ element.price | currency : "GBP" : "symbol" : "1.2-2" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount | currency : "GBP" : "symbol" : "1.2-2" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="invoice-tile invoice-total">
          <h3>INVOICE TOTAL:</h3>
          <p><span class="span-label">Subtotal: </span>{{invoice().invoiceItemsTotal | currency : "GBP" : "symbol" : "1.2-2"}}</p>
          <p><span class="span-label">VAT ({{invoice().vatPercentage}}%): </span>{{invoice().vat | currency : "GBP" : "symbol" : "1.2-2"}}</p>
          <p><span class="span-label">Total: </span>{{invoice().finalTotal | currency : "GBP" : "symbol" : "1.2-2"}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="invoice-tile">
          <h3>PAY BY BANK TRANSFER:</h3>
          <p><span class="span-label">Account Name: </span>{{invoice().nameOnAccount}}</p>
          <p><span class="span-label">Bank Sort Code: </span>{{invoice().sortCode}}</p>
          <p><span class="span-label">Bank Account Number: </span>{{invoice().accountNumber}}</p>
          <p *ngIf="invoice().bankName"><span class="span-label">Bank Name: </span>{{invoice().bankName}}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>