<h1 class="page-title">Invoice: {{ invoice().titleOfInvoice }}</h1>
<mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile colspan="2" rows="2">
        <div class="invoice-tile">
          <h3>YOUR COMPANY:</h3>
          <p>{{invoice().nameOfYourCompany}}</p>
          <p>{{invoice().yourAddress}}</p>
          <p>{{invoice().yourCity}}</p>
          <p>{{invoice().yourPostCode}}</p>
          <p>{{invoice().yourEmail}}</p>
          <p>{{invoice().phoneNumber}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="columnSpan()" rowspan="1">
        <div class="invoice-tile">
          <h3>BILL TO:</h3>
          <p>{{invoice().clientName}}</p>
          <p>{{invoice().clientAddress}}</p>
          <p>{{invoice().clientCity}}</p>
          <p>{{invoice().clientPostCode}}</p>
          <p>{{invoice().clientEmail}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="columnSpan()" rowspan="1">
        <div class="invoice-tile invoice-total">
          <h3>INVOICE:</h3>
          <p>Reference Number: {{invoice().referenceNumber}}</p>
          <p>Issue Date: {{invoice().issueDate | date}}</p>
          <p>{{invoice().dueDate && 'Due Date: ' + (invoice().dueDate | date)}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <div class="invoice-tile">
          <table mat-table [dataSource]="invoice().invoiceItems">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef>Unit Price</th>
              <td mat-cell *matCellDef="let element">
                {{ element.price | currency : "GBP" : "symbol" : "1.2-2" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount | currency : "GBP" : "symbol" : "1.2-2" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div class="invoice-total">
            <h3>INVOICE TOTAL:</h3>
            <p>Subtotal: {{invoice().invoiceItemsTotal | currency : "GBP" : "symbol" : "1.2-2"}}</p>
            <p>VAT ({{invoice().vatPercentage}}%): {{invoice().vat | currency : "GBP" : "symbol" : "1.2-2"}}</p>
            <p>Total: {{invoice().finalTotal | currency : "GBP" : "symbol" : "1.2-2"}}</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="invoice-tile">
          <h3>PAY BY BANK TRANSFER:</h3>
          <p>Bank Sort code: {{invoice().sortCode}}</p>
          <p>Bank Account Number: {{invoice().accountNumber}}</p>
          <p>{{invoice().bankName && 'Bank Name: ' + invoice().bankName}}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>