<mat-sidenav-container>
  <!--SideNav-->
  <mat-sidenav
    #sidenav
    [mode]="sideNavMode()"
    [opened]="isSidebarOpened()"
    [style.width]="'250px'"
  >
    <div class="sidenav-header">
      <mat-icon class="avatar">account_circle</mat-icon>
      <h3>{{decodedJwtObject.name}}</h3>
    </div>
    <mat-nav-list>
      <mat-list-item-title mat-subheader>View all Invoices</mat-list-item-title>
      <mat-list-item (click)="navigateToPage('account'); toggleOnMobile(sidenav);">
        <mat-icon matListItemIcon>list</mat-icon>
          <h2 matListItemTitle>Invoices</h2>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item-title mat-subheader>Invoices</mat-list-item-title>
      <mat-list-item
        *ngFor="let invoice of invoices; let index = index"
        (click)="navigateToPage('account/' + (index + 1)); toggleOnMobile(sidenav);"
      >
        <mat-icon matListItemIcon>description</mat-icon>
        <h2 matListItemTitle>
          {{ invoice.name }}
        </h2>
        <h2 matListItemLine>
          {{ invoice.updated | date }}
        </h2>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item-title mat-subheader>Create Invoice</mat-list-item-title>
      <mat-list-item (click)="navigateToPage('account/create-invoice'); toggleOnMobile(sidenav);">
        <mat-icon matListItemIcon>add</mat-icon>
        <h2 matListItemTitle>New Invoice</h2>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content>
    <button mat-fab (click)="sidenav.toggle()" class="menu-button" *ngIf="isMobile()"><mat-icon>menu</mat-icon></button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
