@use '@angular/material' as mat;

//sidenav
mat-sidenav-container {
    height: calc(100vh - 64px); /* Adjust for navbar height */
}

mat-sidenav {
    @include mat.sidenav-overrides((
        container-background-color: var(--mat-sys-secondary-container),
    ))
}

mat-sidenav {
  border-radius: 0px;
}

h2 {
  margin: 0;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;
}

.avatar {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

//main content

mat-sidenav-content {
  padding: 16px;
  border-radius: 0px;
}

.menu-button {
  position: fixed;
  top: 80px; /* Adjust based on your navbar height */
  left: 16px;
  z-index: 1000; /* Ensure it appears above other content */
  opacity: 0.9;
}
