@use '@angular/material' as mat;

mat-sidenav {
  border-radius: 0px;
  background: linear-gradient(90deg, var(--mat-sys-primary-container) 0%, var(--mat-sys-tertiary-container) 100%);
}

h2 {
  margin: 0;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;
    font-family: "Tektur", sans-serif;
}

.avatar {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

//main content

mat-sidenav-content {
  padding: 16px;
  border-radius: 0px;
  background: var(--mat-sys-surface-bright);
  min-height: calc(100vh - 64px); /* Adjust for navbar height */
}

.menu-button {
  position: fixed;
  top: 80px; /* Adjust based on your navbar height */
  left: 16px;
  z-index: 1000; /* Ensure it appears above other content */
  opacity: 0.9;
}
